/* @font-face {
    font-family: "Arial-BoldMT";
    src: url("/Fonts/BuurtCampusArial-Bold.ttf");
}

@font-face {
    font-family: "BuurtCampusArial-Bold";
    src: url("/Fonts/BuurtCampusArial-Bold.ttf");
} */

html,
header,
body {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    min-width: 320px;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    place-items: center;
    z-index: 2;

    @media (min-width: 460px) {
        display: grid;
    }
}

.color-main {
    color: var(--color3);
}

.color-zuidoost1 {
    background-color: white;
    color: var(--color2);
}

.color-oost1 {
    background-color: white;
    color: var(--color3);
}

.color-nieuw-west1 {
    background-color: white;
    color: var(--color4);
}


p {
    margin: 0;
    margin-bottom: 1em;
}

p.bold {
    margin: 0;
}

/* blockquote */
p.font-size-l {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
}

.logo {
    width: 190px;
    object-fit: contain;
}

.textLogo {
    font-family: "BuurtCampusArial-Bold";
    font-size: var(--font-size-l);
    margin: 1em 0 1em 0;
}

.headerLogo {
    display: flex;
    justify-self: center;
    gap: 0.5em;

    @media (min-width: 480px) {
        justify-self: left;
        margin: 0 1.5em 0 1.5em;
    }
}



button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    width: fit-content;
    font-size: 1rem;
}


/* MARK: navknop */
#navKnop {
    display: grid;
    font-size: var(--font-size-m);
    padding-right: 2rem;
    translate: 0 0;
    padding: 0.1em 2em 0.1em 0.5em;

    @media (max-width: 950px) {
        display: none;
        grid-column-start: 3;
    }
}

#navKnop:active {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    background-color: var(--color-white);
}

#navKnop:hover,
#navKnop:focus-visible {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    background-color: var(--color-white);
}

#navKnop.primary-color-zuidoost:active {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color2);
}

#navKnop.primary-color-zuidoost:hover,
#navKnop.primary-color-zuidoost:focus-visible {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color2);
}

#navKnop.primary-color-oost:active {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color3);
}

#navKnop.primary-color-oost:hover,
#navKnop.primary-color-oost:focus-visible {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color3);
}

#navKnop.primary-color-nieuw-west:active {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color4);
}

#navKnop.primary-color-nieuw-west:hover,
#navKnop.primary-color-nieuw-west:focus-visible {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color4);
}

.buttonMenu {
    color: inherit;
    border: none;
    font-size: 2rem;
    background-color: transparent;
    position: fixed;
    right: 2.8em;
    top: 0.3em;
}

.navBar {
    grid-column-start: 2;
    grid-row-start: 1;
}

.hamburgerMenuKnop {
    display: none;
    margin: 0 1.5em 0 1.5em;
    font-weight: bold;
    z-index: 10;

    @media (min-width: 460px) {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    @media (max-width: 950px) {
        display: block;
    }
}

.closeHamburgerMenuKnop {
    display: none;
    position: fixed;
    right: 3em;
    top: 1.2em;
    font-weight: bold;
    z-index: 999;

    @media (min-width: 460px) {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    @media (max-width: 950px) {
        display: block;
    }
}

/* MARK: mobilenav */
#navListMobile {
    list-style: none;
    padding: 0 0 0 0;
    display: grid;
    gap: 0em;
    justify-content: center;
    translate: center;
}

ul#navListMobile {
    padding-top: 3em;
}

.mobileNav {
    grid-column-start: 3;
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    left: 0;
    top: -100%;
    z-index: 14;
    
    @starting-style {
        display: block;
        top: 0;
        visibility: visible;
    }
}

.mobileNav.active {
    display: block;
    top: 0;
    transition: 0.3s ease;
    visibility: visible;

    @starting-style {
        top: 0%;
    }
}

#mobileNavKnop {
    /* color: var(--color-white); */
    padding-right: 3em;
    color: inherit;
}

#mobileNavKnop:hover,
#mobileNavKnop:focus-visible {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    background-color: var(--color-white);
}

#mobileNavKnop:active {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    background-color: var(--color-white);
}

#mobileNavKnop:hover,
#mobileNavKnop:focus-visible {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    background-color: var(--color-white);
}

#mobileNavKnop.primary-color-zuidoost:active {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color2);
}

#mobileNavKnop.primary-color-zuidoost:hover,
#mobileNavKnop.primary-color-zuidoost:focus-visible {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color2);
}

#mobileNavKnop.primary-color-oost:active {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color3);
}

#mobileNavKnop.primary-color-oost:hover,
#mobileNavKnop.primary-color-oost:focus-visible {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color3);
}

#mobileNavKnop.primary-color-nieuw-west:active {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color4);
}

#mobileNavKnop.primary-color-nieuw-west:hover,
#mobileNavKnop.primary-color-nieuw-west:focus-visible {
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    color: var(--color4);
}

#article-container {
    max-width: 65ch;
}

/* knoppen in de nav */
/* .navKnop {
    font-size: var(--font-size-m);
} */

#knop-omhoog {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

/* title vertical */
.sideTitle {
    font-size: 28pt;
    font-family: BuurtCampusArial-Bold;
    font-weight: 300;
    writing-mode: vertical-rl;
    rotate: 180deg;
    align-items: center;
    white-space: nowrap;
    display: flex;
    float: left;
    padding: 0.5em 0 0.5em 0.5em;
    margin: 0;
}

/* naam van buurt met vlaggetje links boven in pagina */
#headerBuurtTitle {
    font-family: BuurtCampusArial-Bold;
    clip-path: polygon(90% 0, calc(100% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    padding: 0.1em 2.5em 0.1em 0.5em;
    margin: 0;
    margin-top: 2em;
    width: max-content;
    align-self: left;
    font-size: 1.05em;
}

main {
    justify-self: center;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em 0.5em 1.5em;
    width: 100%;
    min-width: 300px;
    max-width: 70ch;
}

body {
    width: 100%;
}

figure {
    align-items: center;
    margin: 0;
}

/* MARK: doelgroep */

.openHetDoelgroepMenuKnop {
    width: 1em;
    height: 4em;
    border-radius: 1em 0 0 1em;
    position: fixed;
    /* right: 225.58px; */
    right: 0;
    top: 11.5em;
    z-index: 13;
    box-shadow: 0 0 10px white;
}

/* .openDoelgroepMenu {} */

.openDoelgroepMenu {
    background-color: var(--color-lucht-blauw);
    width: fit-content;
    position: fixed;
    z-index: 5;
    right: 0;
    margin-top: 2em;
    padding: 0.5em;
    padding-right: 3em;
    border-radius: 1em 0 0 1em;

    right: -100%;
    z-index: 12;
    

    @starting-style {
        display: block;
        right: 0;
        visibility: visible;
    }
}

.openDoelgroepMenu.active {
    right: 0%;
    transition: 0.3s ease;
}

.knopDoelgroep.active {
    display: grid;
    grid-template-rows: max-content;
    font-size: var(--font-size-m);
    translate: 0 0;
    padding: 0em 3em 0em 0.2em;
    margin-bottom: 0.2em;
    max-width: 250px;
    top: 121.86px;
    top: 3em;
    margin-left: 0;
    z-index: 100;
    right: 0;
}

.knopDoelgroep, a {
    font-size: var(--font-size-m);
}

.knopDoelgroep:hover,
.knopDoelgroep:focus-visible {
    clip-path: polygon(90% 0, calc(100% - 1.8em) 50%, 90% 100%, 0 100%, 0 0);
    background-color: var(--color-white);
}

/* MARK: footer */
#footer {
    width: 100%;
    background-color: var(--color-lucht-blauw);
    padding: 1em 0 1em 0;
}

.formulierFooter {
    width: 50%;
    justify-items: center;
}

.contact-form {
    border-radius: 0%;
    width: 100%;
}

fieldset {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}